


@media(min-width: 700px){

    body{
        background-color: red;
    }

    .sect--1{
        width: calc(100% - 44px);
        height: 270px;
        padding: 22px ;
        background-color: #fff;
        box-shadow: 0px 4px 32px rgba(0, 0, 0, 0.12);
        border-radius: 12px;
        margin: 70px 0 0 0;
        display: grid;
        grid-template-columns: 180px 1fr;
        column-gap: 24px;
        grid-template-rows: 70px 100px 1fr;
        row-gap: 16px;
        grid-template-areas:
        "im b1"
        "im b2"
        "p1 p1" ;
    }

    .b2{
        grid-area: b2;
        margin: 15px 0 0 0;
        padding: 0px 0 0 0;
    }
}